/* Existing CSS for .cardButton */
.cardButton {
  height: 2.5em;
  font-size: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .cardButton {
    height: 2em;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

/* New CSS for small screens (less than 575px) */
@media screen and (max-width: 575px) {
  .card {
    margin: 0 auto;
    margin-bottom: 20px; /* Adjust margin as needed */
  }

  .cardButton {
    height: 2.5em; /* Adjust height as needed */
    font-size: 0.8em; /* Adjust font size as needed */
  }
}
