.simpleCounter {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 30px;
    gap: 15px;
    margin-top: 20px;
    }

.card {
    background-color: rgb(17, 16, 16);
    color: white;
}

.iconClock {
    font-size: 40px;
}



h5 {
    font-size: 40px;
    text-align: center;
}